
header{
    text-transform: capitalize;   
}
.context{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.Icon1{
    visibility: hidden;
}

.logo{
    margin-top: 10px;
}
a{
    text-decoration: none;
    padding: 0 35px;
    
   
}
.navlist{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    margin-top: -20px;
}
 .list{
    list-style: none;
    justify-content: space-between;
    font-family: Inter;
}

.help{
    background-color: #000000;
    color: white;
    height: 30px;
    border-radius: 10px;
    padding: 5px; 
    margin-top: 15px; 
}
.helplink{
    color: white;
    height: 25px;
    border-radius: 10px;
}
.webkit{
    color: gray;
    width: Hug (1,362px)px;
height: Hug (6,610px)px;
left: -81px;
gap: 0px;
opacity: 0px;

}
.kitlink{
    color: white;
    width: Hug (1,362px)px;
    height: Hug (6,610px)px;
    left: -81px;
    gap: 0px;
    opacity: 0px;
    
}
.kitimg{
    color: white;
}
.Bar{
    background-color: #000000;
    color: white;
    text-align: center;
    height: 40px;
    padding-bottom: 0.5px;
    
}
.paralink{
    color: white;
}

@media(max-width:480px){
    .navlist{
        visibility: hidden;
        
    }
    .Icon1{
        visibility: visible;
        margin-top: 50px;
        margin-left: 140vh;
        
    }
    .Bar{
       width:480px;
       font-size: 25px;
    }
    
  
}
@media(max-width:1200px){
    
    
    .nav{
     width: 1000px;
     padding: 0 15px;
     margin-top:-20px;
     font-size: 25px;
     margin-left: 25vh;
    }
    .Bar{
    width: 1265px;
    margin-left: 10px;
    }
    .helplink{
        height: 15px;
        font-size: 20px;
    }
    .help{
        height: 20px;
        border-radius: 10px; 
    }
    .webkit{
       width: 1200px; 
    }
    
    .help{
        font-size: 25px;
        height: 45px;
        margin-left: 70px;
    }
    .logo{
        margin-top: 20px;
    }
}


        

