


.lastcontent{
    content: "";
    display:block ;
    clear: both;
    
}
.lastcontent>div{
    float: left;
    height: 60vh;
    margin-top: 40px;
    background:  linear-gradient(180deg, #FFFFFF 27.96%, #D2DCFF 100%);
    margin: 40px 60px;
    
}
.context{
    width: 90%;
    text-align: center;
    
}
.sign{
    font-size: 55px;
}
.helix2{
    margin-top: -22%;
    margin-left: 59%;
}
.emojistar{
    width: 30%;
    margin-top: -24%;
    margin-left: 45px;
}
.learn{
    font-weight: bolder;
    font-size: 15px;
    
}
.arrow{
    margin-bottom: -5px;
}
.free{
    background-color: black;
    color: white;
    height: 35px;
    width: 105px;
    border-radius: 10px;
    font-size: 15px;
    margin: 20px 10px;
}
@media(max-width:480px){
    .emojistar{
        display: none;
    }
    .helix2{
        display: none;
    }
    .context{
        width:560px;
        margin-right: 240px;
    }
   .lastcontent{
    padding-left: 230px;
   }

}
@media(max-width:1200px){
    .emojistar{
        margin-left: -23%;
        margin-top: -30%;
    }
    .helix2{
        margin-top: -35%;
        margin-left: 80%;
    }
    .lastcontent{
        width: 1200px;
        margin: 0;
        overflow: hidden;   
    }
    .sign{
        font-size: 60px;
        margin-bottom: -30px;
    }

    .context p{
        font-size: 30px;
    }
}

 